<% include ../partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-offsetr-3 col-md-6"></div>
            <h1><%= title%></h1>
            <br>
            <table class="table table-bordered table-stripped table-hover">
                <!--header row-->
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                </tr>

                <!--Repeatable template row -->
                <% for(let count = 0; count < contactList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= contactList[count].name %></td>
                        <td class="text-center"><%= contactList[count].description %></td>
                    </tr>
                    
                <% } %>

            </table>
        </div>
    </div> 

    

<% include ../partials/footer.ejs %>


 
